apiVersion: apps/v1
kind: Deployment
metadata:
    name: {{ .Release.Name }}
    namespace: {{ .Release.Namespace | default "default" }}
spec:
  {{- if not .Values.deployment.autoscaling.enabled }}
  replicas: {{ .Values.deployment.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
        app: {{ .Release.Name }}
  template:
    metadata:
      name: {{ .Release.Name }}
      labels:
        app: {{ .Release.Name }}
    spec:
      serviceAccountName: {{ .Release.Name }}
      automountServiceAccountToken: true
      containers:
        - name: {{ .Release.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- if eq .Values.init.enabled "true" }}
          volumeMounts:
            - mountPath: /var
              name: {{ .Release.Name }}-config
          {{- end }}
          ports:
            {{- if eq .Values.service.grpc.enabled "true" }}
            - containerPort: {{ .Values.service.grpc.targetPort }}
            {{- end }}
            {{- if eq .Values.service.http.enabled "true" }}
            - containerPort: {{ .Values.service.http.targetPort }}
            {{- end }}
          env:
          {{- range $k, $v := .Values.deployment.env }}
          - name: {{ $v.name }}
            value: "{{ $v.value }}"
          {{- end }}
          {{- if eq .Values.secrets.enabled "true" }}
          - name: INITIALIZE_SECRETS
            value: "true"
          - name: INITIALIZE_ENGINE
            value: "kubernetes"
          {{- end}}
          {{- if eq .Values.service.http.enabled "true" }}
          - name: HTTP_PORT
            value: "{{ .Values.service.http.targetPort }}"
          - name: ENABLE_HTTP_SERVER
            value: "true"
          {{- end }}
          {{- if eq .Values.service.grpc.enabled "true" }}
          - name: GRPC_PORT
            value: "{{ .Values.service.grpc.targetPort }}"
          - name: ENABLE_GRPC_SERVER
            value: "true"
          {{- end }}
          envFrom:
            {{- range $secret := .Values.deployment.secretEnv }}
            - secretRef:
                name: {{ $secret }}
            {{- end }}
      {{- if eq .Values.init.enabled "true" }}
      volumes:
        - name: {{ .Release.Name }}-config
          configMap:
            name: {{ .Release.Name }}
      {{- end }}