apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace | default "default" }}
rules:
  - apiGroups:
      - ""
    resources:
      - "secrets"
    verbs: ["get", "create"]
