apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ .Release.Name }}-hera
  namespace: {{ .Release.Namespace | default "default" }}
subjects:
  - kind: ServiceAccount
    name: {{ .Release.Name }}-hera
    namespace: {{ .Release.Namespace | default "default" }}
roleRef:
  # "roleRef" specifies the binding to a Role / ClusterRole
  kind: Role #this must be Role or ClusterRole
  name: {{ .Release.Name }}-hera
  apiGroup: rbac.authorization.k8s.io