apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-hera
  namespace: {{ .Release.Namespace | default "default" }}
spec:
  type: {{ .Values.service.type }}
  ports:
    {{- if eq .Values.service.http.enabled "true"  }}
    - port: {{ .Values.service.http.port }}
      targetPort: {{ .Values.servic.http.targetPort }}
      protocol: TCP
    {{- end }}
    {{- if eq .Values.service.grpc.enabled "true" }}
    - port: {{ .Values.service.grpc.port }}
      targetPort: {{ .Values.service.grpc.targetPort }}
      protocol: TCP
    {{- end }}
  selector:
    app: {{ .Release.Name }}-hera
