---
# Source: block-user-service/charts/block-user-service/templates/service.yaml
apiVersion: v1
kind: Service
metadata:
  name: test
  namespace: default
spec:
  type: ClusterIP
  ports:
    - port: 9000
      targetPort: 9000
      protocol: TCP
  selector:
    app: test
---
# Source: block-user-service/templates/service.yaml
apiVersion: v1
kind: Service
metadata:
  name: test
  namespace: default
spec:
  type: ClusterIP
  ports:
    - port: 9000
      targetPort: 9000
      protocol: TCP
  selector:
    app: test
---
# Source: block-user-service/charts/block-user-service/templates/deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
    name: test
    namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
        app: test
  template:
    metadata:
      name: test
      labels:
        app: test
    spec:
      containers:
        - name: test
          image: "softcorpdev/block-user-service:main"
          imagePullPolicy: Always
          ports:
            - containerPort: 9000
          env:
          - name: MONGO_USER_COLLECTION
            value: "users"
          - name: GRPC_PORT
            value: "9000"
          envFrom:
            - secretRef:
                name: cloud-mongo-secret
            - secretRef:
                name: mongo-secret
---
# Source: block-user-service/templates/deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
    name: test
    namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
        app: test
  template:
    metadata:
      name: test
      labels:
        app: test
    spec:
      containers:
        - name: test
          image: "softcorpdev/block-user-service:main"
          imagePullPolicy: Always
          ports:
            - containerPort: 9000
          env:
          - name: MONGO_USER_COLLECTION
            value: "users"
          - name: GRPC_PORT
            value: "9000"
          - name: JWT_PUBLIC_KEY
            value: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC/4bcIbFsMRvAaRx8uDCbPXCzXOJ00RF5K807UiXZ2B0q1rCLbda+YY/AcGlX/QTBak10+04xRGpeiLohSDNpcwwFAcMoq/5jO/3W6Lg23/MQ1836GRSZBnOgs6dI1JNczaD1FOCUF0xMZSctMO/Yg2dWGQsaiNF5togZW/wAQaFQ9G6b3Af1Hy1BaNOfh7Jo8+jhL3OrqYAxB4cePApfAilpCfT6wism4s7KQHj0sIFzgxTq/UKnhNnMtrYl1p226KIG/4oYxPYk5ZuyWBKOy+nIwiHN4D6ml6CGBJdjvzD8bPmkcm+hasyFfBEvhRgarJu70hkVmj1xk9UHGMOdlxC3Wsw9qo8m3axcYuIhRy3b7vheSZQDGDEv12kaz6EaQNA/7jP1Kmfl6tZGb1vkGlG3i2dSI1PDJUmlAyfgTLGopZeuf4Bks6Czu0n/k+9j/QwMM5H0gWbYGFnGiEE4xMslcYfJj3PF0yVZ3X7v4rtyD4LjpoizktoeylIg3VoM= oscarorellana@oscarorellan"
          - name: JWT_PRIVATE_KEY
            value: "            -----BEGIN OPENSSH PRIVATE KEY-----
            b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAABlwAAAAdzc2gtcn
            NhAAAAAwEAAQAAAYEAv+G3CGxbDEbwGkcfLgwmz1ws1zidNEReSvNO1Il2dgdKtawi23Wv
            mGPwHBpV/0EwWpNdPtOMURqXoi6IUgzaXMMBQHDKKv+Yzv91ui4Nt/zENfN+hkUmQZzoLO
            nSNSTXM2g9RTglBdMTGUnLTDv2INnVhkLGojRebaIGVv8AEGhUPRum9wH9R8tQWjTn4eya
            PPo4S9zq6mAMQeHHjwKXwIpaQn0+sIrJuLOykB49LCBc4MU6v1Cp4TZzLa2JdadtuiiBv+
            KGMT2JOWbslgSjsvpyMIhzeA+ppeghgSXY78w/Gz5pHJvoWrMhXwRL4UYGqybu9IZFZo9c
            ZPVBxjDnZcQt1rMPaqPJt2sXGLiIUct2+74XkmUAxgxL9dpGs+hGkDQP+4z9Spn5erWRm9
            b5BpRt4tnUiNTwyVJpQMn4EyxqKWXrn+AZLOgs7tJ/5PvY/0MDDOR9IFm2BhZxohBOMTLJ
            XGHyY9zxdMlWd1+7+K7cg+C46aIs5LaHspSIN1aDAAAFmEe2q+VHtqvlAAAAB3NzaC1yc2
            EAAAGBAL/htwhsWwxG8BpHHy4MJs9cLNc4nTREXkrzTtSJdnYHSrWsItt1r5hj8BwaVf9B
            MFqTXT7TjFEal6IuiFIM2lzDAUBwyir/mM7/dbouDbf8xDXzfoZFJkGc6Czp0jUk1zNoPU
            U4JQXTExlJy0w79iDZ1YZCxqI0Xm2iBlb/ABBoVD0bpvcB/UfLUFo05+Hsmjz6OEvc6upg
            DEHhx48Cl8CKWkJ9PrCKybizspAePSwgXODFOr9QqeE2cy2tiXWnbboogb/ihjE9iTlm7J
            YEo7L6cjCIc3gPqaXoIYEl2O/MPxs+aRyb6FqzIV8ES+FGBqsm7vSGRWaPXGT1QcYw52XE
            LdazD2qjybdrFxi4iFHLdvu+F5JlAMYMS/XaRrPoRpA0D/uM/UqZ+Xq1kZvW+QaUbeLZ1I
            jU8MlSaUDJ+BMsaill65/gGSzoLO7Sf+T72P9DAwzkfSBZtgYWcaIQTjEyyVxh8mPc8XTJ
            Vndfu/iu3IPguOmiLOS2h7KUiDdWgwAAAAMBAAEAAAGAeYUYZtRAwUC31NyQCZiWh6KHn3
            HyVWSrFuqKVR4NkOhDT1UJ6lTY9Tjtms6vAe4mEmbbmeteJQsjVwoDOXt8W10AkPAdiSfA
            fe/ZfiSmeYwyMzzXN2/Zr5oQjEk04IVJaPwuOYU6JTstEEnk343l7Z4nlVT6+UUTPHltbH
            EoeDuqhdzaW/q9jldbtxVkeXdfoxiQyLLLb82OVbcIrDBnLQAx84PgTOxInpnnj1AnS6ff
            SlZ+QyVxwPi77wTFVmbGg+XYJhpm4muwH1aI6x0mHAHwkyJI2CHxrAkN+u3JzDOi5A5UdZ
            RHTAIWdBAY1amrBbKyLPzihVtdeJo7hsrwFeGGA+MwErjFJhDTd9sHKNjOCiEmS3YfNyLk
            xcjmxaVjNTrY3HwVFzQZ155WIgmU8k9L+FTLs2ODgQJ8CWK0bZMJeNWZPDqigjwP6WHUZy
            3UXUxgRU38wPizilRROnxy6JTPuG4TPAEqDsfaQ7FqFJLp/1XIiWtgHNCGsAH2yXepAAAA
            wQDx67qKqPCXX17aqbQHM3AnqrDgm3HW8btWGYSbjFt6U3kQuGXEZS7R7sm3bvr+GGl6Jg
            mV955+y8ZDbLbpbZ0oQl+XZb6VQj5/j0pSJBhrJFKb6NufLlu5FYcR4/6hPyMLQOsJQDh9
            uEi7yFy8y+wKctEXCOGVAcDkt1OApumGm/TT/A05fN7jNI97VGh07kysT1s0t11KS8Hibm
            CoI+PCf22p/ZrrhL1ly39GEWS8jEL2H3Io8dhAXB0Qm64NNzAAAADBAPYklM4bSLVEdkaN
            ouopE66c16fwx79U96/bzhqlKGCQafC45Yi8liejYjvM4Zga2PpryT53eX8fZpI9ccHVCo
            i3kklf0EBvgAcM0z91nizlEMzoV740ecCavjw7uHcqGyIHN1Fn6Q8QKJCqW4VP8qB0x1ds
            kgz6E0hbNX+ccncYqjGLLpbFxLl/VLjMnb+q0Otp4JeeLvT7kShsYQY0mxQUXNz3q9zAK0
            C04GmEYhKFr2OLdvco/nVYFVH+JaNBTwAAAMEAx5DbOWvsjL1x/XjZwA0SOJuTT3pw643p
            OEGkK2i/WasxsXGVC7eFK2LgCuSWLzkmmeSXJcVgYIO5LiJ/nJlaAw1iqznfQp/COUJrcU
            3TWrpOKMVNkgFNM5Q69BMpwItdhC6Y9DpsNc6ho4ZUtZ/0tCvP30AcORX0Zu5NMrf8qU+H
            eIE14PTi0EuKMj/zGfKVt5Vs+yROrn0vHeXlg8MX5caVnindqP2KGOeSFxYHMX75j5RGsf
            nRBUIQpjgoqkKNAAAAG29zY2Fyb3JlbGxhbmFAb3NjYXJvcmVsbGFuYQECAwQFBgc=
            -----END OPENSSH PRIVATE KEY-----"
          envFrom:
            - secretRef:
                name: cloud-mongo-secret
            - secretRef:
                name: mongo-secret
