image:
  repository: nuntioio/hera
  pullPolicy: Always
  # Overrides the image tag whose default is the chart appVersion.
  tag: main
deployment:
  replicaCount: 1
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    targetMemoryUtilizationPercentage: 80
  ports:
    - 9000
    - 9001
  env:
    - name: MONGO_USER_COLLECTION
      value: users
  secretEnv:
    - cloud-mongo-secret
    - mongo-secret
service:
  http:
    enabled: "false"
    type: ClusterIP
    port: 9001
    targetPort: 9001
  grpc:
    enabled: "true"
    type: ClusterIP
    port: 9000
    targetPort: 9000
secrets:
  enabled: "false"
  newSecret: ""
init:
  enabled: true
  config:
    logo: ""
    name: ""
    disable_signup: false
    disable_login: false
    verify_email: true
    verify_phone: false
    validate_password: true
    login_mechanisms:
      - "email/password"
  users:
    - first_name: "Oscar Antonio Borlund"
      last_name: "Orellana"
      email: "oscar@nuntio.io"
      password: "oscar@nuntio.io"
      phone: "004522122798"
      username: "nuntio-root-user"
      birthdate: "1997-09-07"
    - first_name: "Oscar Antonio Borlund"
      last_name: "Orellana"
      email: "oscar@nuntio.io"
      password: "oscar@nuntio.io"
      phone: "004522122798"
      username: "nuntio-root-user"
      birthdate: "1997-09-07"